* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cormorant Garamond", serif;
    background-color: #f6f1e8;
    color: #3E2C1C;
}

#root {
    width: 100%;
    min-height: 100vh;
}